:root {
    --ui-bg-color: #373737;
    --input-bg-color: #222222;
    --input-text-color: #ffffff;
    --li-source-color: #bfbfbf;
    --li-title-color: #ffffff;
    --li-url-color: #67a3f3;
    --li-match-color: #bfbfbf;

    --font-family: inherit;
}

#vomnibar {
    font-family: var(--font-family);
    background: var(--ui-bg-color);
    border-radius: 5px;
    border: 0;
    z-index: 2139999999;
    box-shadow: none;
    text-align: left;
}
#vomnibar .vomnibarSearchArea {
    /* display: block; */
    padding: 5px;
    background-color: var(--ui-bg-color);
    border-radius: 5px;
    border-bottom: 0;
}
#vomnibar input {
    color: var(--input-text-color);
    font-family: var(--font-family);
    padding-left: 10px;
    font-size: 14px;
    height: 30px;
    background-color: var(--input-bg-color);
    border: 0;
}

#vomnibar ul {
    background-color: var(--ui-bg-color);
    margin: 0;
    padding-top: 5px;
}
#vomnibar li {
    border-bottom: 0;
    overflow: hidden;
    white-space: nowrap;
}

#vomnibar li .vomnibarTopHalf, #vomnibar li .vomnibarBottomHalf {
    display: inline-block;
    /* comment out for two-line */
    overflow: hidden;
    height: 16px;
    vertical-align: middle;
}

#vomnibar li .vomnibarBottomHalf {
    font-size: 15px;
    margin-top: 0;
    padding: 2px 0;
    font-size: 13px;
    padding-top: 4px;
    vertical-align: middle;
}

#vomnibar li .vomnibarUrl {
    white-space: nowrap;
    color: var(--li-url-color);
    font-family: var(--font-family);
}

#vomnibar li .vomnibarTitle .vomnibarMatch {
    font-weight: bolder;
    color: var(--li-match-color);
    font-family: var(--font-family);
}

#vomnibar li .vomnibarMatch {

    font-weight: bolder;
    color: var(--li-url-color);
    font-family: var(--font-family);
}

#vomnibar li .vomnibarNoInsertText {
    width: auto;
}

#vomnibar li .vomnibarSource {
    color: var(--li-source-color);
    margin-right: 4px;
    font-family: var(--font-family);
    width: 50px;
}

#vomnibar li .vomnibarTitle {
    color: var(--li-title-color);
    margin-left: 4px;
    font-weight: normal;
    font-family: var(--font-family);
}

#vomnibar .vimiumReset {
    font-family: var(--font-family);
}

#vomnibar li .vomnibarIcon {
    display: none;
}