div > .vimiumHintMarker {
    padding: 3px 4px;
    background-color: var(--hm-bg-color);
    border: 0;
    border-radius: 5px;
    box-shadow: inset 0 -2px 0 var(--hm-accent-color);
    background-image: none;
  }
  
div > .vimiumHintMarker span {
    font-size: 11px;
    font-weight: bold;
    text-shadow: none;
    color: var(--hm-text-color);
}

div > .vimiumHintMarker > .matchingCharacter {
    color: var(--hm-text-accent-color);

}

.vimiumReset {
    font-family: var(--hm-font-family) !important;
}